@page
@model AdminAddConsoleModel
@{
}


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" asp-page="/Index">Start Page</a>
    <a class="navbar-brand" asp-page="/ShowGames">Games</a>
    <a class="navbar-brand" asp-page="/ShowConsoles">Consoles</a>
    <a class="navbar-brand" asp-page="/ShowGadgets">Gadgets</a>
    <a class="navbar-brand" asp-page="/Cart">Cart</a>

    <a class="navbar-brand navbar-nav ml-auto" asp-page="/AdminAddGame">Admin</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<form method="post">
    <div>
        <a class="btn btn-outline-danger btn-sm checked" asp-page="/AdminAddGame">Add a Game</a>
        <a class="btn btn-danger btn-sm checked" asp-page="/AdminAddConsole">Add a Console</a>
        <a class="btn btn-outline-danger btn-sm checked" asp-page="/AdminAddGadget">Add a Gadget</a>
        <a class="my-auto btn btn-outline-danger btn-sm checked" asp-page="/EditProduct">Remove or Change a product</a>
    </div>
</form>

<div class="row my-3">
    <form method="post">

     
        <div class="col-sm">
            <div>
                <h2 class="text">Add a new console</h2>
            </div>

            <div>
                <input type="text" asp-for="@Model.Name" placeholder="Name" />
            </div>
            <div>
                <input type="number" asp-for="@Model.Price" placeholder="Price" />
                <p>Price(kr)</p>
            </div>
            <div>
                <textarea asp-for="@Model.Description" placeholder="Description"></textarea>
            </div>
            <div>
                <input type="number" asp-for="@Model.Stock" placeholder="Stock" />
            </div>
            <div>
                <input type="text" asp-for="@Model.ConsoleRelease" placeholder="Console release" />
            </div>
            <div>
                <input type="text" asp-for="@Model.ConsoleDeveloper" placeholder="Console developer" />
            </div>
            <div>
                <input type="text" asp-for="@Model.ImageURL" placeholder="Cover image (URL)" />
            </div>

            <div class="my-5">
                <button class="btn btn-primary btn-sm" type="submit" asp-route-addToPendingList="true">Add to pending list</button>

                <button class="btn btn-danger btn-sm" type="submit" asp-route-mergeLists="true">Merge lists</button>

            </div>
        </div>

    </form>

    <div class="col-sm my-3">
        @foreach (var AddedConsole in Model.PendingConsoles)
        {

            <div class="card mx-auto row" style="width: 18rem;">
                <img class="card-img-top img-thumbnail " src="@AddedConsole.ImageURL" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title ">@AddedConsole.Name</h4>
                    <p>@AddedConsole.Description</p>
                    <h5> Price: @AddedConsole.Price  Kr</h5>
                    <a class="btn btn-outline-primary btn-sm" type="submit" asp-route-removeId="@AddedConsole.Id">Delete</a>
                </div>
            </div>
        }
    </div>
</div>