@page
@model Webbshop.Pages.CartModel
@{
}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" asp-page="/Index">Start Page</a>
    <a class="navbar-brand" asp-page="/ShowGames">Games</a>
    <a class="navbar-brand" asp-page="/ShowConsoles">Consoles</a>
    <a class="navbar-brand" asp-page="/ShowGadgets">Gadgets</a>
    <a class="navbar-brand" asp-page="/Cart">Cart</a>

    <a class="navbar-brand navbar-nav ml-auto" asp-page="/AdminAddGame">Admin</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>


<h1 class="text-center">Din Kundvagn</h1>
<div class="my-3">
    <h4>Total Price: @Model.TotalPrice Kr</h4>
    <h6>VAT: @Model.ShowMoms Kr (25%)</h6>
</div>



<form method="post">
    @{ int i = 0;}
    <h4>Products Currently in Cart</h4>
    <div class="row">
        @foreach (var product in Model.CartList)
        {

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@product.ImageURL" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample_@i"
                       role="button" aria-expanded="true" aria-controls="collapseExample_@i">
                        Description
                    </a>
                    <div class="collapse" id="collapseExample_@i">
                        <p class="card-text">@product.Description</p>
                        <p>Article Number: @product.Id</p>
                    </div>
                    <h5>@product.Price Kr</h5>

                    <h6>Quantity: @product.CartQuantity</h6>
                    <a class="btn btn-outline-primary" asp-route-incQuantity="@product.Id">+</a>
                    <a class="btn btn-outline-primary" asp-route-decQuantity="@product.Id">-</a>


                    <a class="btn btn-danger" asp-route-removeId="@product.Id">Remove Article</a>
                </div>
            </div>
            i++;
        }
    </div>
</form>


@* Två knappar, vanlig frakt och express. Lyser runt den man tryckt på *@
<div class="my-3">
    <h5>Select shipping method </h5>
    <form method="post">

        <div>
            <input type="radio" asp-for="@Model.ExpressShipping" value="true" />Express shipping 199 kr<br />
            <input type="radio" asp-for="@Model.ExpressShipping" value="false" />Regular Shipping <br />
            <input type="submit" />
        </div>
     
    </form>
</div>




    <div class="my-3 ">
        <h5>Shipping Details</h5>
        <div>
            <input type="text" asp-for="@Model.WholeName" placeholder="Full Name" />
        </div>
        <div>
            <input type="text" asp-for="@Model.PostalCode" placeholder="Postal Code" />

            <input type="text" asp-for="@Model.Adress" placeholder="Adress" />
        </div>
        <div>
            <input type="text" asp-for="@Model.PhoneNumber" placeholder="Phonenumber" />
        </div>
    </div>


    <form method="post">

        @* Betalningsmetoder, 2 stycken. Collapse bar för Faktura och Betala med Kort *@
        <div>
            <input type="radio" asp-for="@Model.PaymentMethod" value="0" />Faktura<br />
            <input type="radio" asp-for="@Model.PaymentMethod" value="1" />Creditcard<br />
            <input type="submit" />
        </div>

        @if (Model.PaymentMethod == 0)
            {

            //FAKTURA
         <div>
            <div>
            <input type="text" asp-for="@Model.WholeName" placeholder="Full Name" />
            </div>
            <div>
            <input type="text" asp-for="@Model.PostalCode" placeholder="Postal Code" />

            <input type="text" asp-for="@Model.Adress" placeholder="Adress" />
            </div>
            <div>
            <input type="text" asp-for="@Model.PhoneNumber" placeholder="Phonenumber" />
            </div>
         </div>
         }
        @if (Model.PaymentMethod == 1)
         {
            @*//CREDITCARD*@
             <div>
                            <div>
                                <input type="text" asp-for="@Model.CardHolder" placeholder="Full Name" />
                            </div>
                            <div>
                                <input type="text" asp-for="@Model.CardNumber" placeholder="Card Number" />
                            </div>
                            <input type="text" asp-for="@Model.CVCcode" placeholder="CVC Code" />
                            <input type="text" asp-for="@Model.CardExpire" placeholder="Expiring Date (01-25)" />
                        </div>

        }
    </form>
    <h3 class="text-right">Price inc. shipping: @Model.PriceIncShipping</h3>
<div class="text-center">
    <a class="btn btn-outline-success" asp-page="/PurchaseConfirmed">Confirm Order</a>


</div>






